@import 'assets/stylesheets/bootstrap.min';
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

$width-colunas: 19.1%;
$height-colunas-gr: 620px;
$height-colunas-pq: 305px;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// BOX

.centralizar {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container {
  width: 1200px;
  padding: 0;
}

header.top {
  background: #03a9f4;
  width: 100%;
  padding: 60px 0 0 0;
  color: #fff;

  h1 {
    font-size: 64px;
  }
}

section.board {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 1200px;
  @extend .centralizar;
}

.parceiros-chave,
.colun2,
.proposta-de-valor,
.colun4,
.segmentos-de-clientes {
  position: relative;
  width: $width-colunas;
  min-height: $height-colunas-gr;
  float: left;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
  margin: 5px;
  background: #FAFAFA;
  border: 1px solid #cdcdcd;
  border-top: 2px solid #333;
}

.colun2,
.colun4 {
  background: none;
  box-shadow: none;
  border: none;
}

.col-peq {
  min-height: $height-colunas-pq;
  position: relative;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
  background: #FAFAFA;
  border: 1px solid #cdcdcd;
  border-top: 2px solid #333;

  &:first-child {
    margin-bottom: 30px;
  }
}

.estrutura-custo,
.fluxo-receita {
  margin: 5px;
  float: left;
  width: 587px;
  min-height: 200px;
  background: #FAFAFA;
  position: relative;
  border: 1px solid #cdcdcd;
  border-top: 2px solid #333;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
}

.recursos-chave,
.canais {
  margin-top: -20px;
}

// END BOX

// ICONES BOARDS

.graph_icon {
  right: 10px;
  top: 25px;
  width: 73px;
  height: 70px;
  background: url(assets/images/icons.png) no-repeat 0 0;
  position: absolute;
}

.atividade-chave {
  .graph_icon { background-position: 0 -63px; }
}

.proposta-de-valor {
  .graph_icon { background-position: 0 -131px; }
}

.relacionamento-clientes{
  .graph_icon { background-position: 0 -198px; }
}

.segmentos-de-clientes{
  .graph_icon { background-position: 0 -264px; }
}

.recursos-chave{
  .graph_icon { background-position: 0 -334px; }
}

.canais{
  .graph_icon { background-position: 0 -402px; }
}

.estrutura-custo{
  .graph_icon { background-position: 0 -470px; }
}

.fluxo-receita{
  .graph_icon { background-position: 0 -540px; }
}

// FIM ICONS BOARDS

// PARAGRAFOS E FONTES

p.description-bl {
  font-size: 11px;
  padding: 20px;
  color: #aaa;
  position: absolute;
  top: 80px;
}

.estrutura-custo,
.fluxo-receita {
  p.description-bl {
    top: 60px;
  }
}

// FIM PARAGRAFOS E FONTES

// POST-ITS

textarea.post-its {
  min-height: 30px;
  position: relative;
  z-index: 8;
  margin-bottom: 10px;
  top: 15px;
  width: 160px;
  max-width: 160px;
  overflow: hidden;
  font-size: 15px;
  display: block;
  resize: none;
  border: 0;
  padding: 10px;
  background-color:  #FFEB3B;
  box-shadow: 1px 2px 1px rgba(0,0,0,0.4);
  @extend .centralizar;
  font-family: 'Gloria Hallelujah';
}

textarea::-webkit-input-placeholder { /* WebKit browsers */
  color: #000;
}
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #000;
}
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #000;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #000;
}

div.criar {
  position: relative;

  a{
    top: -15px;
    left: 20px;
    width: 30px;
    height: 30px;
    position: absolute;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 50%;
    background: rgb(244,244,244); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(226,226,226,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(244,244,244,1) 0%,rgba(226,226,226,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */

    &:after {
      position: absolute;
      top: -4px;
      left: 7px;
      content: "+";
      color: #FF975E;
      font-size: 25px;
    }
  }
}

// FIM POST-ITS

body {
  font-family: Roboto, tahoma;
  background: #fafafa;
}

h1.title-board {
  font-size: 16px;
  width: 155px;
  font-weight: bold;
  padding-top: 16px;
  padding-left: 15px;
  font-weight: 400;
  line-height: 22px;
}

.estrutura-custo,
.fluxo-receita {
  h1 {
    width: 200px;
  }
}

.fluxo-receita {
  width: 588px;
}



/* MODIFICADO POR MÁRIO VALNEY */

.first-row,
.second-row {
  overflow: hidden;
  padding-top: 10px;
}


.estrutura-custo,
.fluxo-receita,
.parceiros-chave,
.atividade-chave,
.recursos-chave,
.proposta-de-valor,
.relacionamento-clientes,
.canais,
.segmentos-de-clientes {
  padding-bottom: 20px;
}