@import 'bootstrap.min.scss';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

$width-colunas: 19.1%;
$height-colunas-gr: 620px;
$height-colunas-pq: 305px;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


// BOX

.centralizar {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container {
  width: 1200px;
  padding: 0;
}

section.board {
  margin-top: 30px;
  width: 1200px;
  @extend .centralizar;
}

.parceiros-chave,
.colun2,
.proposta-de-valor,
.colun4,
.segmentos-de-clientes {
  position: relative;
  width: $width-colunas;
  height: $height-colunas-gr;
  float: left;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
  margin: 5px;
  background: #fff;
  border: 1px solid #cdcdcd;
  border-top: 2px solid #333;
}

.colun2,
.colun4 {
  background: none;
  box-shadow: none;
  border: none;
}

.col-peq {
  height: $height-colunas-pq;
  position: relative;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  background: #fff;
  border: 1px solid #cdcdcd;
  border-top: 2px solid #333;
}

.estrutura-custo,
.fluxo-receita {
  margin: 5px;
  float: left;
  width: 587px;
  min-height: 200px;
  background: #fff;
  position: relative;
  border: 1px solid #cdcdcd;
  border-top: 2px solid #333;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
}

.recursos-chave,
.canais {
  margin-top: -20px;
}

// END BOX

// ICONES BOARDS

.graph_icon {
  right: 10px;
  top: 25px;
  width: 73px;
  height: 70px;
  background: url(../images/icons.png) no-repeat 0 0;
  position: absolute;
}


.atividade-chave {
  .graph_icon { background-position: 0 -63px; }
}

.proposta-de-valor {
  .graph_icon { background-position: 0 -131px; }
}

.relacionamento-clientes{
  .graph_icon { background-position: 0 -198px; }
}

.segmentos-de-clientes{
  .graph_icon { background-position: 0 -264px; }
}

.recursos-chave{
  .graph_icon { background-position: 0 -334px; }
}

.canais{
  .graph_icon { background-position: 0 -402px; }
}

.estrutura-custo{
  .graph_icon { background-position: 0 -470px; }
}

.fluxo-receita{
  .graph_icon { background-position: 0 -540px; }
}

// FIM ICONS BOARDS

body {
  font-family: "Open Sans", tahoma;
  background: #F5F5F5;
}

h1.title-board {
  font-size: 16px;
  width: 155px;
  font-weight: bold;
  padding-top: 16px;
  padding-left: 15px;
  font-weight: 400;
  line-height: 22px;
}


.estrutura-custo,
.fluxo-receita {
  h1 {
    width: 200px;
  }
}

.fluxo-receita {
  width: 588px;
}



